#profile-stats {
    margin: 0 auto;
    width: 100%;
    @media (max-width: $sm) {
        margin-bottom: 3rem;
    }
}

#charts-section {
    margin: 0 auto;
    padding: 0;
    @media (max-width: $sm) {
        margin-bottom: 3rem;
    }

    .card {
        min-height: 22vh;
    }


.chart{
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: inline-block;
  
  }
  p {
    text-align: center;
    font-family:'Verdana', sans-serif;
    font-size: 10px;
  }
  
  canvas{
    height: 100%;
  }
}