footer#wrapper-footer {
	background-color: $primary;
	padding: 80px 0;

	.footer-widget {
		h3 {
			text-transform: uppercase;
			color: $navbar-dark-color;
			margin-bottom: 30px;
		}
	}

	.contact-link {
		display: inline-block;
		width: 100%;
		color: $navbar-dark-color;
	}

	// footer social
	.footer-social {
		ul {
			padding-left: 0;

			li {
				list-style: none;
				float: left;
				padding: 0 10px;

				&:first-child {
					padding-left: 0;
				}

				a {
					font-size: 20px;
					color: $navbar-dark-color;

					&:hover {
						color: $navbar-dark-color-hover;
					}
				}
			}
		}
	}

	// opening hour
	.opening-time {
		padding-left: 0;
		color: $navbar-dark-color;

		li {
			list-style: none;

			span {
				float: left;
				padding-right: 10px;

				.fa-times {
					color: $navbar-dark-color-hover;
				}
			}

			strong {
				color: $navbar-dark-color-hover;
			}
		}
	}

	// latest event
	.media-body {
		a {
			color: $navbar-dark-color;

			&:hover {
				color: $secondary;
			}
		}

		span {
			color: #969696;
		}
	}

	// gallery image
	.images-gellary {
		ul {
			padding-left: 0;

			li {
				list-style: none;
				float: left;
				margin: 0 3% 2% 0;
				width: 31%;
				position: relative;

				&:nth-child(3n) {
					margin: 0 0 1%;
				}

				a {
					color: $navbar-dark-color;
				}
			}
		}
	}
}

.site-footer {
	background: rgba(0,0,0,0.94);
	color: $navbar-dark-color-hover;

	a {
		color: $navbar-dark-color-hover;
		font-weight: 600;
		transition: all .3s;

		&:hover {
			color: $navbar-dark-color;
		}
	}
}