#page-landingpage-wrapper {

	#nav-right {
		z-index: 880;
		width: 4rem;
		right: 0;
		left: calc(100vw - 4rem);
		bottom: 17%;

		.navbar-nav {
			display: flex;
			flex-direction: column;
			align-content: flex-end;
			justify-content: center;
			align-items: flex-end;

			.nav-item {
				.btn {
					width: 4rem;
					padding: 1.1rem 1rem;
					margin: 0.7rem auto;
				}

				.active {
					background: $blue;
					border: transparent;
				}

				@media screen and (max-width:$sm) {
					.btn {
						width: 3rem;
						margin: 0.3rem auto;
						padding: 0.55rem 0;
					}
				}
			}
		}
	}

	@media screen and (max-width:$sm) {
		#nav-right {
			right: 1rem;
			bottom: 30%!important;
		}
	}

	#hero-main {
		background-repeat: no-repeat !important;
		z-index: 0;

		#landingpage-listing-image {
			position: relative;
			z-index: 800;

			img {
				position: relative;
				z-index: 810;
				transform: scaleX(-1) translateX(-1rem);
			}
		}
	}

	@media screen and (max-width:$sm) {
		#hero-main {
			background-position: 0!important;
		}
	}

	@media screen and (max-width:$sm) {
		#benefits {
			margin: 5rem auto;
		}
	}

	#benefits {

		.card {
			@media screen and (max-width:$sm) {
				.card-body {
					border-top: 1px solid transparent !important;
					border-left: 1px solid rgba(0, 0, 0, .125) !important;
					border-right: 1px solid rgba(0, 0, 0, .125) !important;
					border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
					margin-bottom: 2rem;
				}
			}
		}
	}

	#why-customer-loves-us {
		.circle-icon {
			width: 180px;
			height: 180px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 2rem;
			box-shadow: 0px 0px 40px #dc354633 !important;
		}
	}

	#landingpage-listings {
		list-style-type: none;

		/*Styling helper classes*/
		li {
			span {
				margin-left: 1.5rem;
			}
		}
	}
}


/* Helper Styling Class */
.negative-margin {
	position: relative;
	z-indeX: 850;
	margin-bottom: -2rem;
}

.mvh-100 {
	min-height: calc(100vh - 88px) !important;
	display: flex;
	align-items: center;
}

.mvh-50 {
	min-height: calc(50vh - 88px) !important;
	display: flex;
	align-items: center;
}

.bg-darker {
	background: #111111 !important
}

.bg-turquoise,
.bg-danger {
	background: $blue!important;
}

.bg-turquoise-gradient {
	background: linear-gradient(#ffffff00 40%,$blue 100%)!important;
}

.text-accent {
	color: $blue!important;
}

/* color: #dc3545 */
.text-darker {
	color: #111111 !important;
}

.transform-minus-top {
	transform: translateY(-2rem);
}

.box-shadow-lg {
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.22) !important
}

.filter-brightness {
	filter: brightness(4.4) !important
}

@media screen and (max-width:$sm) {
	.transform-minus-top {
		transform: translateY(0rem);
	}
}
