#page-contact-wrapper {

    #fullwidth-images {
        max-height: 136px;
    }

    #form-tabs {
        .nav-tabs {
            border-bottom: 1px solid $blue;

            .nav-link.active {
                color: $blue;
                border-color: $blue $blue #fff;
            }
        }
        
        .form-with-args {
            border-left: 1px solid $blue;
            border-right: 1px solid $blue;
            border-bottom: 1px solid $blue;
        }
    }
}