// Adds (on mobile horizontaly scrollable) Header
@import 'menu-scrollable';

@media screen and (max-width:$sm) {
	.explore-head {
		margin-top: $spacer;
	}
}

#profile-edit-content {
	margin-top: calc(#{$spacer} * 2);
}

#form-settings {
	.input-group {
		line-height: 48px;
		display: flex;
		justify-content: flex-start;
		align-items: baseline;

		label {
			font-size: 16px;
			color: #555;
			font-weight: 400;
			font-family: 'Montserrat';
			top: -5px;
			position: relative;
		}
	}
}

#signup-wrapper {
	.card-columns {
		@include media-breakpoint-only(lg) {
			column-count: 1;
		}
		@include media-breakpoint-only(xl) {
			column-count: 3;
		}
	}
}