#results-map {
	@media screen and (max-width:$sm) {
		padding: 0;
		position: relative;
		margin-top: 1.5rem;
		margin-bottom: -1.2rem;

		&:not(.search-box-inside-map) {
			padding-top: 0;
		}
	}

	.finder-map {
		#map {
			width: 100% !important;
			position: relative;
			z-index: 10;
			min-height: 105vh;
			transform: scale(1);
		}
		#boxed {
			width: 100% !important;
			position: relative;
			z-index: 10;
			min-height: 29rem;
		}

		@media screen and (max-width:$sm) {
			#boxed {
				min-height: 40rem;
			}
		}
	}
}
