.search-icon {
	fill: #fff;
	transform: scale(.65);
	margin-right: .5rem;
}

#page-wrapper,
#search-wrapper {
	.front {
		background-attachment: fixed;
		background-size: cover;
		background-position: center center;

		@media screen and (max-width:$md) {
			padding-top: 2rem;
		}

		&::before {
			content: "";
			display: block;
			width: 100%;
			max-height: 100%;
            min-height: auto;
			position: absolute;
			z-index: 0;
			background: rgba(0, 0, 0, 0.5);
		}
	}

    header.page-header {
        .page-title {
            font-weight: 600;
            color: #fff;
        }
    }
}

#search-wrapper {
    p {
        color: #fff;
    }
}

.single,
.page,
.search {

	#main-nav {
		background: #000;
	}
}

#single-wrapper,
#page-wrapper,
#search-wrapper {
	padding-top: calc(#{$spacer} * 5);
    padding-bottom: 0;
}

#search-wrapper {
	padding-top: calc(#{$spacer} * 5);

    .front {
        padding-top: calc(#{$spacer} * 3);
    }
}