// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #000000;
$secondary: #101010;
$navbar-dark-color: #fff;
$navbar-dark-color-hover: #555;

// Border radius Vars
$br1: 4px;
$br2: calc(#{$br1} * 2);
$br3: calc(#{$br1} * 3);
$br4: calc(#{$br1} * 4);

// Media Breakpoints
$xl: 1440px;
$lg: 992px;
$md: 768px;
$sm: 576px;